
.Dashboard{
    display: flex;
    overflow-y: hidden;
    background-image: url(assets/dashboardbg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.Wallets{
    display: flex;
    justify-content: space-between;
}