@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.Sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f9f9f9; /* Light background color */
  color: #333; /* Dark text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Light shadow for some depth */
}

.title {
  margin-bottom: 20px;
}

.title h1 {
  font-size: 24px;
  font-weight: 700;
  color: #333; /* Dark text color */
}

.elements {
  width: 100%;
}

.elements ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.elements li {
  width: 100%;
  margin-bottom: 10px;
}

.elements li a {
  text-decoration: none;
  color: #333; /* Dark text color */
  font-size: 18px;
  font-weight: 400;
  display: block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.elements li a:hover {
  background-color: #e0e0e0; /* Light hover background color */
}

.elements li.active a {
  background-color: green; /* Highlight color for active link */
  color: white; /* Text color for active link */
}










